<div class='uit-body'>
    <div class='uit-container'>
        <div class='uit-content'>

            <p>The state of California is undergoing its worst <a href='https://www.theguardian.com/environment/2018/jul/30/california-wildfires-climate-change-new-normal'>wildfire season recorded</a>, and climate leaders warn that if drastic action isn't taken soon, the situation is likely to get worse. </p>

            <p>According to <a href='http://resources.ca.gov/climate/safeguarding/research/'>a report released Aug. 27</a>, the fourth in a series of assessments comissioned by the state, California residents will be expected to face more extreme wildfires, longer droughts, and higher insurance premiums if global warming continues at the rate it has been for the last few decades. There are a few reasons for that.</p>

            {{> partials/chart }}

            <ul class='uit-steps'>
                <li class='uit-step' data-step='forestry'>
                    <h2 class='uit-step__title'>California is a very green state</h2>
                    <p>California makes up a total of 100 million acres, and about a third of it, or 33 million acres, is covered by forestry. These trees serve different functions, from removing CO2 from the atmosphere to serving as habitats for wildlife native to the region.</p>
                </li>

                <li class='uit-step' data-step='dead_trees'>
                    <h2 class='uit-step__title'>Hot and dry conditions are killing trees</h2>
                    <p>An alarming number of 129 million trees, about 8.9 million acres, have died between 2010 and 2017. Climatologists generaly believe California's <a href="https://www.theguardian.com/environment/climate-consensus-97-per-cent/2014/dec/08/california-just-had-its-worst-drought-in-over-1200-years">second worst drought in recorded history</a>, combined with a recent trend of insects migrating to the north and sapping trees of resources, are the main factors to blame.</p>

                    <p>California's dry and windy conditions fan wildfires and help them spread, and whenever these trees die, the shrubbery falls to the floor and creates "fuel" for the fires to catch on, increasing their ferocity and duration.</p>
                </li>

                <li class='uit-step' data-step='dead_trees'>
                    <h2 class='uit-step__title'>This wildfire season is already really bad</h2>
                    <p>The 2018 California wildfire season is expected to continue on into autumn, but it has already overtaken the <a href="https://account.sacbee.com/static/paywall/stop?resume=188377854">2017 wildfire season's record</a> of 1.3 million acres; currently, the number sits at 1.49 million acres. The <a href="https://www.theguardian.com/us-news/ng-interactive/2018/aug/07/mendocino-fire-california-biggest-state-history-mapped-explained">Mendocino Complex fire</a> was the largest wildfire to ever occur on record.</p>
                </li>

                <li class='uit-step' data-step='limited_water'>
                    <h2 class='uit-step__title'>In 2100, more wildfires will occur</h2>
                    <p>According to the <a href="http://resources.ca.gov/climate/safeguarding/research/">Fourth Climate Assessment</a>, however, by 2100 California wildfires will become 77% more destructive, and large fires burning up over 25,000 acres are expected to occur 50% more often. Compared to today's statistic, that would mean 2.66 million acres of forestland will be burned at this point in the season.</p>
                </li>

                <li class='uit-step' data-step='limited_water'>
                    <h2 class='uit-step__title'>Conditions are expected to become hotter and drier</h2>
                    <p>The Climate assessment stated an expected increase in daily temperature of 5.6 - 8.8 degrees, depending on greenhouse gas emissions. This increase in temperature will dry out groundwater and snowpack, decreasing the resources available for plantlife and increasing the liklihood of death.</p>
                </li>

                <li class='uit-step' data-step='erosion'>
                    <h2 class='uit-step__title'>California beaches will also suffer</h2>
                    <p>Wildfires are not the only phenomenon that will become worse as global temperatures increase. The same climate assessment also mentioned rising sea levels, and if left unchecked, <a href="https://www.theguardian.com/environment/2018/aug/27/california-climate-change-report-wildfires-jerry-brown">coastal erosion</a> is likely to shrink California beaches anywhere from 31 - 67%. 250,000 people will be affected, and about $50 billion in damage to property and $39 billion in damage to buildings will occur.</p>
                </li>

                <li class='uit-step' data-step='default'>
                    <h2 class='uit-step__title'>Next steps</h2>
                    <p>Governor Jerry Brown and other California Democratic leaders are determined to fight the climate change. The state recently <a href="https://www.theguardian.com/environment/climate-consensus-97-per-cent/2018/sep/03/californias-response-to-record-wildfires-shift-to-100-clean-energy">passed a bill</a> which amps up sustainability and renewable energy targets across the board; 50% by 2026, 60% by 2030, and 100% by 2045. With this, and an effort to perform more prescribed burnings to limit wildfire risk, California is taking active steps to curttail the global warming issue as much as it can.</p>
                </li>
            </ul>

            <p class='source'>Source: <a href='http://www.climateassessment.ca.gov/'>California Fourth Climate Assessment</a></p>
        </div>
    </div>
</div>
