<div class='uit-body'>
    <div class='uit-container'>
        <div class='uit-content'>

            <p>2018 is turning out to be California's most destructive and expensive <a href='https://www.theguardian.com/environment/2018/jul/30/california-wildfires-climate-change-new-normal'>wildfire season on record,</a> with $432 million dollars already spent on firefighting and containment. Cal Fire director Ken Pimlott asked lawmakers for another $234 million in early September, the earliest the agency has ever requested emergency funds, to prepare for the peak of the fire season that traditionally runs through the fall. </p>

            <p><a href='http://resources.ca.gov/climate/safeguarding/research/'>A report released Aug. 27</a>, the fourth in a series of climate change assessments comissioned by the state, found that if global warming continues at the rate, California residents can expect <a href="https://www.theguardian.com/environment/2018/aug/27/california-climate-change-report-wildfires-jerry-brown">more deadlier weather patterns</a>, including longer droughts, higher temperatures, and bigger wildfires. But how did the most populous state get to this point?</p>

            {{> partials/chart }}

            <ul class='uit-steps'>
                <li class='uit-step' data-step='forestry'>
                    <h2 class='uit-step__title'>California is a heavily forested state</h2>
                    <p>California covers a total of 100 million acres, and about a third of it is covered by forests and grassland. The state contains more forest than any other in the country except Alaska.</p>
                    <p class='source'>Source: <a href='http://ucanr.edu/sites/forestry/California_forests/'>University of California Forest Research and Outreach</a></p>
                </li>

                <li class='uit-step' data-step='limited_water'>
                    <h2 class='uit-step__title'>California is increasingly hot and dry</h2>
                    <p>Hot and dry temperatures due to global warming is taking its toll on West Coast forests. The past five years in California have been <a href="https://www.theguardian.com/environment/climate-consensus-97-per-cent/2018/aug/13/trump-reignited-his-war-with-california-but-his-tweet-got-burned"> the hottest on record</a>, and the state recently came out of a TK long drought, its <a href="https://www.theguardian.com/environment/climate-consensus-97-per-cent/2014/dec/08/california-just-had-its-worst-drought-in-over-1200-years">second worst in history</a>.</p>

                    <p>A lack of rainfall coupled with disappearing groundwater increases the liklihood of tree death. <a href="https://www.theguardian.com/us-news/2016/nov/18/dead-trees-california-drought-wildfires-forest-services">Dead trees</a> serve as explosive fuel when wildfires start.</p>

                    <p class='source'>Source: <a href='http://www.climateassessment.ca.gov/state/overview/'>California Fourth Climate Assessment</a></p>
                </li>

                <li class='uit-step' data-step='dead_trees'>
                    <h2 class='uit-step__title'>There are millions of dead trees in California</h2>
                    <p>Because of the drought, rising temperatures, and a growing epidemic of migrating bark beetles <a href="https://www.theguardian.com/environment/2016/sep/19/tree-death-california-hawaii-sudden-oak">that prey on trees</a>, an alarming number of trees, nearly 129 million, have died since 2010. California has removed <a href="https://www.vox.com/2018/9/1/17800358/california-mendocino-wildfire-dead-trees">only 1.3 million of these trees</a> in that same period; the rest litter the forests with tinder.</p>

                    <p class='source'>Source: <a href='http://egis.fire.ca.gov/TreeMortalityViewer/'>Cal Fire Tree Mortality Map</a></p>
                </li>


                <li class='uit-step' data-step='people1'>
                    <h2 class='uit-step__title'>Much of California is a time bomb</h2>
                    <p>The large number of dead trees, combined with California's already dry, hot, and windy climate, has made much of California susceptible to wildfires. It doesn't take much to start one - humans are responsible for XX% of them - and with about 1/4 of counties facing <a href="https://www.drought.gov/drought/states/california">severe or worsening drought conditions</a>, rain and groundwater is often unavailable to help put out fires.</p>

                    <p class='source'>Source: <a href='https://www.drought.gov/drought/states/california'>U.S. Drought Monitor</a></p>
                </li>

                <li class='uit-step' data-step='people2'>
                    <h2 class='uit-step__title'>People are moving into high fire-risk zones</h2>
                    <p>California's population grew by 3 million between 2000 and 2010, and <a href="https://www.verisk.com/siteassets/media/campaigns/gated/underwriting/fireline-state-risk-report/california.pdf">according to the risk management company Verisk</a>, in 2017 over a quarter of California's population lived near moderate or high-risk fire corridors.</p>

                <p>With this increase in population comes a higher possibility of a human-made wildfire. In addition, as people move into these area, more buildings are in harm's way, and structures generally burn longer than vegetation, allowing fire more time to spread.</p>

                    <p class='source'>Source: <a href='https://www.verisk.com/siteassets/media/campaigns/gated/underwriting/fireline-state-risk-report/california.pdf'>Verisk Wildfire Risk Report</a></p>
                </li>

                <li class='uit-step' data-step='limited_water'>
                    <h2 class='uit-step__title'>What's being done?</h2>
                    <p>Governor Jerry Brown and other California Democratic leaders are attempting to impose regulations to combat climate change. The state recently <a href="https://www.theguardian.com/environment/climate-consensus-97-per-cent/2018/sep/03/californias-response-to-record-wildfires-shift-to-100-clean-energy">passed a bill</a> that doubles down on sustainability and renewable energy targets across the board; 50% by 2026, 60% by 2030, and 100% by 2045. With this, and a commitment to perform more prescribed burns to reduce the amount of flammable material on public lands, the state hopes to rein in an out-of-control fire season.</p>

                    <p class='source'>Source: <a href='http://www.climateassessment.ca.gov/'>California Fourth Climate Assessment</a></p>
                </li>
            </ul>
        </div>
    </div>
</div>
