<div class='uit-body'>
    <div class='uit-container'>
        <div class='uit-content'>
            <p>With the nomination of XXX XXXXX for Supreme Court Justice, Trump has already had a significant influence on the highest court in the land. Once XXXXXX is confirmed, the probable outcome given the Republican controlled Senate, Trump will have made as many appointments in two years as Obama did in two full terms.</p>

            <p>The result of those nominations has left us with a Supreme Court that leans towards the right, with a majority of sitting justices nominated by Republican presidents. This wind of change that cements conservative influence for decades could only get more severe if Trump, who is not even halfway into his term, could secure a third pick.</p>

            {{> partials/chart }}

            <ul class='uit-steps'>
                <li class='uit-step' data-step='introduction'>
                    <h2 class='uit-step__title'>The deadline</h2>
                    <p>A position on the Supreme Court becomes available when one of the nine sitting justices resigns, retires or dies. Once a position becomes vacant, the president nominates someone who the Senate will then either confirm or reject. A process that took four months for Neil Gorsuch, Trump’s first pick for the Supreme Court, to be confirmed. Meaning that for Trump to lockdown a third pick, a spot would have open up by July 2020 before the election in November of that year.</p>

                    <p>So whose spot is more likely to be vacated?</p>
                </li>

                <li class='uit-step' data-step='breyer'>
                <h2 class='uit-step__title'>Breyer crosses the average retirement age</h2>
                    <p>Justice Anthony Kennedy, whose recently announced retirement created the spot for XXXXX, retired at 81 - an age Breyer will hit before 2020. Kennedy's retirement was far from an outlier with 80-years-old being the average retirement age for the last 11 justices. There's a slim chance that Breyer might want to do the same. However, given his history of sticking to the party line, he'll more than likely try to hold on and hand his position off to a Democrat president.</p>
                </li>

                <li class='uit-step' data-step='retirement'>
                    <h2 class='uit-step__title'>Ginsburg retirement plans</h2>
                    <p>Ruth Bader Ginsburg, at 85-years-old, is set to become the 3rd oldest Supreme Court justice of all-time under Trump’s tenure. However, recent comments suggest she won’t be stopping there, citing John Paul Stevens, who retired at a spritely 90-years-old, as her model.</p>

                    <p>Plus, despite her age, she was nominated quite late and has only been in the job for 24 years. That’s three years less than the average.</p>
                </li>

                <li class='uit-step' data-step='died'>
                    <h2 class='uit-step__title'>How long can Ginsburg go?</h2>
                    <p>It’s tough to hide from the fact that she’s the oldest current justice and is already five years over the average retirement age for the Supreme Court. However, anyone that saw her workout plan in RBG would struggle to argue that she isn’t fighting fit.</p>

                    <p>Ginsburg has also recently brought four new law clerks onboard until 2020 and has been on the record of saying that “As long as I can do the job full steam, I will be here.”.</p>
                </li>

                <li class='uit-step' data-step='thomas'>
                    <h2 class='uit-step__title'>Justice Thomas is now the longest serving</h2>
                    <p>Breyer and Ginsburg are both Democrat nominated judges but there’s a small chance that we could see a retirement on the Republican nominated side. Clarence Thomas, while relatively young at 70, has already served for 26 years, just one less than the average and four less than recent retiree Kennedy.</p>

                    <p>Meaning it’s entirely reasonable that Thomas believes he’s served his time. If he decided this under Trump’s watch, the Republicans, while they wouldn’t gain a seat, would be able to lock another seat down.</p>
                </li>

                <li class='uit-step' data-step='midterms'>
                    <h2 class='uit-step__title'>The caveat (or hope)</h2>
                    <p>However, the entire scenario changes if the Democrats manage to flip the Senate at the midterms in November. If a seat was to become vacated, the Democrats could choose to block any nomination that Trump makes. Something they would be well within their right to do after the Republicans refused to confirm Obama’s third pick in Merrick Garland.</p>
                </li>
            </ul>

            <p class='source'>Source: <a href='https://www.reproductiverights.org/what-if-roe-fell'>Center for Reproductive Rights</a></p>
        </div>
    </div>
</div>
