<div class='uit-chart__point'></div>
<div class='uit-chart'>
    <img id="fifth-image" class="uit-chart-image" src="">
    <img id="fourth-image" class="uit-chart-image" src="">
    <img id="third-image" class="uit-chart-image" src="">
    <img id="second-image" class="uit-chart-image" src="">
    <img id="first-image" class="uit-chart-image" src="">

    <ul class='uit-chart__keys' style="position: absolute; top: 61.1904%; left: 48.7015%;">
        <li class='uit-chart__key uit-chart__key--first'><span class="key-color"> </span>40+ dead trees per acre</li>
        <li class='uit-chart__key uit-chart__key--second'><span class="key-color"> </span>15-40 dead trees per acre</li>
        <li class='uit-chart__key uit-chart__key--third'><span class="key-color"> </span>< 15 dead trees per acre</li>
    </ul>
</div>
