<div class='uit-header'>
    <div class='uit-container'>
        <div class='uit-content'>
            <h1 class='uit-header__headline' itemprop='headline'>
                Why is California wildfire season so bad?
            </h1>
            <p class='uit-header__byline'><a href='https://www.theguardian.com/profile/juweek-adolphe'>Juweek Adolphe</a> and <a href='https://www.theguardian.com/profile/caty-enders'>Caty Enders</a></p>
            {{> partials/share }}
        </div>
    </div>
</div>
