<div class='uit-header'>
    <div class='uit-container'>
        <div class='uit-content'>
            <h1 class='uit-header__headline' itemprop='headline'>
                These 24 states could ban abortion in two years
            </h1>
            <p class='uit-header__byline'><a href='https://www.theguardian.com/profile/jessica-glenza'>Jessica Glenza</a> and <a href='https://www.theguardian.com/profile/sam-morris'>Sam Morris</a></p>
            {{> partials/share }}
        </div>
    </div>
</div>