.uit-chart {
    padding: 24px 0;
    position: relative;

    &.is-fixed {
        position: fixed;
        top: 5vh;
        width: 620px;
        max-width: calc(100% - 20px);

        @include mq(mobileLandscape) {
            max-width: calc(100% - 40px);
        }

        @include mq(tablet) {
            width: 60vw;
            height: 80vh;
            top: 5vh;
        }
    }

    g path {
        transition: 0.3s linear all;
    }
}

.uit-chart__judge--anthony-kennedy {
    .uit-chart__judge-bar{
        fill: $c-dark-grey;
    }
}

.uit-chart__keys {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 24px;
}

.uit-chart__key {
    position: absolute;
    left: 0;
    font-family: 'Guardian Sans Web';
    font-size: 16px;
    color: $c-black;
    padding: 0 12px 0 10px;
    float: left;
    transition: 0.3s opacity linear;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: .25em;
        width: 6px;
        height: 1em;
        border-radius: 2px;
        background-color: $c-red;
    }
}

// steps
.uit-chart {
    #forest_pic, #dead_trees_pic, #recover, #acres_2018, #acres_2100, #worst_pic {
        opacity: 0;
        transition: 0.4s linear all;
    }

    &.is-introduction {
        #forest_pic {
            opacity: 1;
            transition: 0.4s linear all;
        }
    }

    &.is-dead {
        #dead_trees_pic {
            opacity: 1;
            transition: 0.4s linear all;
        }
        #forest_pic {
            opacity: 1;
            transition: 0.4s linear all;
        }
    }

    &.is-recover {
        #recover {
            opacity: 1;
            transition: 0.4s linear all;
        }
        #forest_pic,
        #dead_trees_pic {
            opacity: 1;
            transition: 0.4s linear all;
        }
    }

    &.is-temp {
        #recover,
        #forest_pic,
        #dead_trees_pic {
            opacity: 0;
            transition: 0.4s linear all;
        }
        #cali_state polyline,
        #cali_state path,
        #cali_state g, {
            fill: #ff7f0f;
            transition: 0.4s linear all;
        }
        #_067_Sacramento {
            opacity: 1;
            transition: 0.4s linear all;
            fill: #c70000;
            stroke: #c70000;
        }
    }

    &.is-2018 {
        #dead_trees_pic {
            opacity: 1;
            transition: 0.4s linear all;
        }
        #forest_pic {
            opacity: 1;
            transition: 0.4s linear all;
        }
        #acres_2018 {
            opacity: 1;
            transition: 0.4s linear all;
        }
    }

    &.is-2100 {
        #dead_trees_pic {
            opacity: 1;
            transition: 0.4s linear all;
        }
        #forest_pic {
            opacity: 1;
            transition: 0.4s linear all;
        }
        #acres_2100 {
            opacity: 1;
            transition: 0.4s linear all;
        }
    }

    &.is-worst {
        #dead_trees_pic {
            opacity: 1;
            transition: 0.4s linear all;
        }
        #forest_pic {
            opacity: 1;
            transition: 0.4s linear all;
        }
        #acres_2100 {
            opacity: 1;
            transition: 0.4s linear all;
        }
        #worst_pic {
            opacity: 1;
            transition: 0.4s linear all;
        }
    }

    &.is-beach{
    #dead_trees_pic {
        opacity: 1;
        transition: 0.4s linear all;
    }
    #forest_pic {
        opacity: 1;
        transition: 0.4s linear all;
    }
    #acres_2100 {
        opacity: 1;
        transition: 0.4s linear all;
    }
    #worst_pic {
        opacity: 1;
        transition: 0.4s linear all;
    }
        #beaches {
            opacity: 0;
            transition: 0.4s linear all;
        }
    }
}

#cali_state {
    width: 60vw;
    height: 70vh;
}

#top-image {
    transition: .8s linear all;
}

.uit-chart-image {
    transition: .2s linear all;
    position: absolute;
}
